body {
    font-family: 'Anek', sans-serif;
}
@font-face {
          font-family: 'Anek';
          src: url('../Fonts/AnekTamil-VariableFont_wdth,wght.ttf');
          font-weight: normal;
          font-style: normal;
        }

.btn-outline-success {
    color: black
}

.form-inline {
    margin-left: 10px;
}

form {
    display: flex
}

.btn-outline-success {
    color: white;
}

.pIniCanc {
    margin-top: 1%;
    min-width: 557px;
}


table {
    background: #556773;
    margin-left: 1.5%;
}

th {
    color: #ffffff;
    background: #0B1840;
    padding: 3vh 4vw 3vh 4vw;
    
    min-width: 18.5vw;
}



   td, th {
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-width: 18vmax;
    max-width: 18vmax;
}
td {
    padding: 2vh 4vw 2vh 4vw;
    min-width: 120px;
}
.container-fluid {
    min-width: 557px;
}

.container-fluid table tr td {
    color: white;
}

.btn-cancelarInicial {
    background-color: #0B1840;
    border-color: #0B1840;
    margin-left: 1.5%;
}

.btn-cancelarFinal {
    background-color: #0B1840;
    border-color: #0B1840;
}

.avisoDigErr {
    color: red;
}
