<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Buscar Voos</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="buscar-voo.component.css"/>
    <script></script>

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					 <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
						<div class="booking-cta">
							<h1>Encontre os melhores voos</h1>
							<p>Compre sua passagem com preços imperdíveis!</p>
						</div>
					</div>
					<div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
						<div class="booking-form">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="origem" class="form-label">Origem</label>
											<select name="origem" id="origem" class="form-select" ngModel>
												<!-- <option *ngIf="voos.length === 0; else semVoos">
													Nenhum voo encontrado
												</option> -->
												<!-- <ng-template #semVoos> -->
													<option value="default"></option>
													<option *ngFor="let origem of origens" value="origem.origem">{{origem.origem}}</option>
												<!-- </ng-template> -->
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="destino" class="form-label">Destino</label>
											<select name="destino" id="destino" class="form-select" ngModel>
												<option value="default"></option>
												<option *ngFor="let destino of destinos" value="destino.destinox">{{destino.destino}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<span class="form-label">Data da viagem</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn">Buscar voos</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>