#choose-flight {
	font-family: 'Lato', sans-serif;
	background-color: white;
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.choose-flight {
    background-color: #96d4bc;
}

.container {
    margin-top: 50px;
    margin-bottom: 80px;
	background-color: white;
}

.row {
	margin-top: 40px;
	background-position: center;
	background-color: #adb3b1;
	padding-top: 30px;
	padding-bottom: 30px;
}

.font-color {
	color: #4fa3e3;
}
