<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Selecionar Voo</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="selecionar-voo.component.css" />
  <script></script>

</head>

<body>
  <div id="choose-flight">
    <div class="container">
      <h2 class="font-color">Escolha seu voo</h2>
      <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
          Origem | Destino
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
          Data da viagem
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
          Preço
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
          <button type="button" class="btn btn-outline-dark">Escolher este voo</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>